
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.CircularProgress {
  transition: opacity 0.35s ease;
}

.CircularProgress--hidden {
  opacity: 0;
}

.CircularProgress--spinning {
  display: inline-block;
}

.CircularProgress--spinning svg {
  animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.CircularProgress svg g path {
  stroke: var(--icon) !important;
}
