
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.CircularProgress--spinning {
  display: inline-block;
}

.CircularProgress--spinning svg {
  animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.CircularProgress svg g path {
  stroke: var(--icon) !important;
}
