
.Switch {
  display: flex;

  align-items: center;
  justify-content: center;
  height: var(--widget-size);

  padding: 0 8px;
  
  min-width: var(--widget-size);

  --switch-element-height: 12px;
  --switch-thumb-height: 24px;
  --switch-element-width: calc(var(--widget-size));
  --switch-thumb-width: 14px;
}

.Switch__label {
  flex: 1;
  font-weight: 500;
  min-width: 96px;

  color: var(--widget-inactive-text);

  user-select: none;
}

.Switch__element {
  position: relative;
  display: block;
  
  border-radius: var(--widget-radius);
  width: var(--switch-element-width);
  height: var(--switch-element-height);
  background-color: var(--widget-inset);
  box-shadow: inset 0 0 0 2px var(--widget-inactive-border), inset 0 2px 8px var(--widget-inactive-shadow);
  
  transition: transform 0.1s ease-out, box-shadow 0.05s ease-out;
}

.Switch__element::after {
  position: absolute;
  display: block;
  content: '';
  
  background-color: var(--widget-inactive-highlight);
  border-radius: var(--widget-radius);
  width: var(--switch-thumb-width);
  height: var(--switch-thumb-height);
  box-shadow: inset 0 0 0 calc(var(--switch-thumb-width) * 0.5 - 1px) var(--widget-inactive), 0 0 6px 1px var(--widget-inactive-glow);
  left: 0;
  top: calc((var(--switch-element-height) - var(--switch-thumb-height)) / 2);

  transition: transform 0.1s ease-out, background-color 0.05s ease-out;
}

.Switch--checked .Switch__element {
  box-shadow: inset 0 0 0 2px var(--widget-active-border), inset 0 2px 8px var(--widget-active-shadow);
}

.Switch--checked .Switch__label {
  color: var(--widget-active-text);
}

.Switch--checked .Switch__element::after {
  transform: translateX(calc(var(--switch-element-width) - var(--switch-thumb-width)));
  
  background-color: var(--widget-active-highlight);
  box-shadow: inset 0 0 0 calc(var(--switch-thumb-width) * 0.5 - 1px) var(--widget-active), 0 0 8px 2px var(--widget-active-glow);
}
