
.OrreryViewer {
  background-color: var(--html-bg);
}

.OrreryViewer canvas {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;

  opacity: 0;

  transition: opacity 0.5s ease-out;
}
  
.OrreryViewer--loaded canvas {
  opacity: 1;
}

.OrreryViewer__loading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: opacity 0.5s ease-out;
}

.OrreryViewer--loaded .OrreryViewer__loading {
  opacity: 0;
  pointer-events: none;
}

.OrreryViewer__options {
  background-color: var(--bg);
  color: var(--text-primary);

  border-radius: var(--container-radius);

  position: absolute;

  top: 16px;
  right: 16px;

  display: flex;
  flex-direction: column;
  padding: 8px 16px;
  min-width: 256px;
}

.OrreryViewer__options .stats {
  border-top: 2px dashed var(--widget-inactive-border);
  margin-top: 8px;
  padding-top: 8px;
  display: block;
}

.OrreryViewer__options .stats li {
  list-style-type: none;
  height: 32px;
  line-height: 32px;
  user-select: contain;
}

  
